@import '../../colors.scss';

.seven_segment {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: $lightest;
  margin-bottom: 1em;
  padding: 0.25em 0.25em;
  height: 2em;
  width: 15.5em;
  border: 0.25em solid $darkest;

  .digit {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 38px;
    padding: 0px 2px;
  }
  
  .segment {
    position: absolute;

    &.a {
      left: 5px;
      height: 0;
      width: 9px;
      border-top: 3px solid $light;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;

      &.digit_0,
      &.digit_2,
      &.digit_3,
      &.digit_5,
      &.digit_6,
      &.digit_7,
      &.digit_8,
      &.digit_9 {
        border-top: 3px solid $dark;
      }
      
    }

    &.b {
      left: 18px;
      top: 2px;
      height: 7px;
      width: 0;
      border-right: 3px solid $light;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(6deg);

      &.digit_0,
      &.digit_1,
      &.digit_2,
      &.digit_3,
      &.digit_4,
      &.digit_7,
      &.digit_8,
      &.digit_9 {
        border-right: 3px solid $dark;
      }
    }

    &.c {
      left: 17px;
      top: 15px;
      height: 7px;
      width: 0;
      border-right: 3px solid $light;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(6deg);

      &.digit_0,
      &.digit_1,
      &.digit_3,
      &.digit_4,
      &.digit_5,
      &.digit_6,
      &.digit_7,
      &.digit_8,
      &.digit_9 {
        border-right: 3px solid $dark;
      }
      
    }

    &.d {
      left: 3px;
      top: 27px;
      height: 0;
      width: 9px;
      border-bottom: 3px solid $light;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;

      &.digit_0,
      &.digit_2,
      &.digit_3,
      &.digit_5,
      &.digit_6,
      &.digit_8,
      &.digit_9 {
        border-bottom: 3px solid $dark;
      }
    }

    &.e {
      left: 2px;
      top: 15px;
      height: 7px;
      width: 0;
      border-left: 3px solid $light;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(6deg);

      &.digit_0,
      &.digit_2,
      &.digit_6,
      &.digit_8 {
        border-left: 3px solid $dark;
      }
    }

    &.f {
      left: 3px;
      top: 2px;
      height: 7px;
      width: 0;
      border-left: 3px solid $light;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(6deg);

      &.digit_0,
      &.digit_4,
      &.digit_5,
      &.digit_6,
      &.digit_8,
      &.digit_9 {
        border-left: 3px solid $dark;
      }
    }

    &.g {
      top: 13px;
      left: 4px;

      &.digit_2 .top,
      &.digit_3 .top,
      &.digit_4 .top,
      &.digit_5 .top,
      &.digit_6 .top,
      &.digit_8 .top,
      &.digit_9 .top {
        border-bottom: 1.5px solid $dark;
      }

      &.digit_2 .bottom,
      &.digit_3 .bottom,
      &.digit_4 .bottom,
      &.digit_5 .bottom,
      &.digit_6 .bottom,
      &.digit_8 .bottom,
      &.digit_9 .bottom {
        border-top: 1.5px solid $dark;
      }
      
      .top {
        height: 0;
        width: 9px;
        border-bottom: 1.5px solid $light;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }

      .bottom {
        height: 0;
        width: 9px;
        border-top: 1.5px solid $light;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }
}


