@import '../../colors.scss';

$digitWidth: 18px;
$digitHeight: 30px;
$segmentThickness: 3px;


.seven_segment_container {
  display: flex;
  flex-flow: row;
  width: 16em;
  height: 3em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;

  background: $lightest;
}

.seven_segment {
  display: flex;
  flex-flow: row;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.25em 0.25em;

  .digit {
    display: inline-block;
    position: relative;
    width: $digitWidth;
    height: $digitHeight;
    padding: 0px 2px;
  }
  
  .segment {
    position: absolute;

    @mixin horizontalSegmentTop {
      border-top: $segmentThickness solid $light;
      border-left: $segmentThickness solid transparent;
      border-right: $segmentThickness solid transparent;
    }

    @mixin horizontalSegmentBottom {
      border-bottom: $segmentThickness solid $light;
      border-left: $segmentThickness solid transparent;
      border-right: $segmentThickness solid transparent;
    }
    
    @mixin verticalSegment {
      border-top: $segmentThickness solid transparent;
      border-bottom: $segmentThickness solid transparent;
      transform: rotate(6deg);
    }

    @mixin verticalSegmentRight {
      border-right: $segmentThickness solid $light;
    }

    @mixin verticalSegmentLeft {
      border-left: $segmentThickness solid $light;
    }

    &.a {
      @include horizontalSegmentTop;
      left: $segmentThickness*5/3;
      height: 0;
      width: $digitWidth/2;

      &.digit_0,
      &.digit_2,
      &.digit_3,
      &.digit_5,
      &.digit_6,
      &.digit_7,
      &.digit_8,
      &.digit_9,
      &.on {
        border-top: $segmentThickness solid $dark;
      }
      
    }

    &.b {
      @include verticalSegment;
      @include verticalSegmentRight;
      left: $digitWidth;
      top: $segmentThickness*2/3;
      height: $digitHeight/4;
      width: 0;

      &.digit_0,
      &.digit_1,
      &.digit_2,
      &.digit_3,
      &.digit_4,
      &.digit_7,
      &.digit_8,
      &.digit_9,
      &.on {
        border-right: $segmentThickness solid $dark;
      }
    }

    &.c {
      @include verticalSegment;
      @include verticalSegmentRight;
      left: $digitWidth - $segmentThickness/3;
      top: $digitHeight/2;
      height: $digitHeight/4;
      width: 0;

      &.digit_0,
      &.digit_1,
      &.digit_3,
      &.digit_4,
      &.digit_5,
      &.digit_6,
      &.digit_7,
      &.digit_8,
      &.digit_9,
      &.on {
        border-right: $segmentThickness solid $dark;
      }
      
    }

    &.d {
      @include horizontalSegmentBottom;
      left: $segmentThickness;
      top: $digitHeight - $segmentThickness;
      height: 0;
      width: $digitWidth/2;

      &.digit_0,
      &.digit_2,
      &.digit_3,
      &.digit_5,
      &.digit_6,
      &.digit_8,
      &.digit_9,
      &.on {
        border-bottom: $segmentThickness solid $dark;
      }
    }

    &.e {
      @include verticalSegment;
      @include verticalSegmentLeft;
      left: $segmentThickness*2/3;
      top: $digitHeight/2;
      height: $digitHeight/4;
      width: 0;

      &.digit_0,
      &.digit_2,
      &.digit_6,
      &.digit_8,
      &.on {
        border-left: $segmentThickness solid $dark;
      }
    }

    &.f {
      @include verticalSegment;
      @include verticalSegmentLeft;
      left: $segmentThickness;
      top: $segmentThickness*2/3;
      height: $digitHeight/4;
      width: 0;

      &.digit_0,
      &.digit_4,
      &.digit_5,
      &.digit_6,
      &.digit_8,
      &.digit_9,
      &.on {
        border-left: $segmentThickness solid $dark;
      }
    }

    &.g {
      top: $digitHeight/2 - 1px;
      left: $segmentThickness*4/3;

      &.digit_2 .top,
      &.digit_3 .top,
      &.digit_4 .top,
      &.digit_5 .top,
      &.digit_6 .top,
      &.digit_8 .top,
      &.digit_9 .top,
      &.on .top {
        border-bottom: $segmentThickness/2 solid $dark;
      }

      &.digit_2 .bottom,
      &.digit_3 .bottom,
      &.digit_4 .bottom,
      &.digit_5 .bottom,
      &.digit_6 .bottom,
      &.digit_8 .bottom,
      &.digit_9 .bottom,
      &.on .bottom {
        border-top: $segmentThickness/2 solid $dark;
      }
      
      .top {
        height: 0;
        width: $digitWidth/2;
        border-bottom: $segmentThickness/2 solid $light;
        border-left: $segmentThickness solid transparent;
        border-right: $segmentThickness solid transparent;
      }

      .bottom {
        height: 0;
        width: $digitWidth/2;
        border-top: $segmentThickness/2 solid $light;
        border-left: $segmentThickness solid transparent;
        border-right: $segmentThickness solid transparent;
      }
    }
  }
}


