@import '../../colors';

.menu_item {
  background: $bg;
  box-shadow: 0 3px 0 $darkbg;
  color: $screenbg;
  font-weight: bold;
  user-select: none;
  width: 100%;
  padding: 1em 0.75em;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background: darken($bg, 5%);
    box-shadow: 0 3px 0 darken($darkbg, 5%);
  }

  &:active {
    background: darken($bg, 10%);
    box-shadow: 0 3px 0 darken($darkbg, 10%);
  }
  
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
