.bottom_seven_segment_container {
  display: flex;
  flex-flow: row;
  width: 16em;
  margin-top: 1em;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;

    &:nth-child(3) {
      margin-left: 0.5em;
    }
  }
}
