@import '../../colors.scss';

$borderWidth: 0.5em;

.screen_decoration {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  padding: 1.5em 3em;
  border-radius: 0.75em;

  background: $screenbg;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;

    background: $screenbg;
    border-radius: inherit;
  }
  
  &::after {
    position: absolute;
    top: -$borderWidth;
    bottom: 0;
    left: -$borderWidth;
    right: -$borderWidth;
    content: '';
    z-index: -2;

    background: linear-gradient($green1 20%, transparent 40%);
    border-radius: inherit;
  }
}
