@import '../../colors.scss';

.pixel {
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  width: 1em;
  height: 1em;
  background-color: $light;
  
  &.on {
    background-color: $darkest;
  }

  .inner {
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: $light;
    border: 0.125em solid $lightest;
  }
  
  &.on .inner { 
    background-color: $darkest;
    border: 0.125em solid $lightest;
  }


}
