@import '../Screen/styles';

.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: $screenWidth;
  z-index: 10;
}
