$darkest: #272d35;
$dark: #272d35;
$light: #a6ac90;
$lightest: #bcc6a4;

$screenbg: #122020;
$bg: #f7efdf;
$darkbg: #dbcea3;

$green1: #bcef67;
$green2: #9fc567;
$green3: #7a9c4f;

$darkblue: #1a2637;

$dpad: #272d35;
$dpadRim: #405054;

$button: #5b3138;
$buttonRim: #7b444a;
