@import '../../colors.scss';

.screen {
  display: flex;
  flex-flow: row wrap;
  width: 16em;
  height: 20em;

  margin-left: auto;
  margin-right: auto;
  
  border: 0.5em solid $darkest;
  background-color: $lightest;
}
