@import '../../colors.scss';

.screen {
  display: flex;
  flex-flow: row wrap;
  width: 16em;
  box-sizing: border-box;
  
  margin-left: auto;
  margin-right: auto;
  
  background-color: $lightest;
}
